/* Fontes
--------------------------------------*/

@font-face {
  font-family: 'Sora-Medium';
  src: url('../fonts/Sora-Medium.woff2') format('woff2'),
       url('../fonts/Sora-Medium.woff') format('woff'),
       url('../fonts/Sora-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Sora-ExtraBold';
  src: url('../fonts/Sora-ExtraBold.woff2') format('woff2'),
       url('../fonts/Sora-ExtraBold.woff') format('woff'),
       url('../fonts/Sora-ExtraBold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}

/* Variaveis
--------------------------------------*/

:root {
  --base-font: 'Sora-Medium';
  --base-font-strong: 'Sora-ExtraBold';
  --base-font-size: 1rem;
  --base-font-size-p: 1rem;
  --base-font-size-m: 1.5rem;
  --base-font-size-g: 2rem;
  --base-line-height: 1.5rem;
  --base-espaco-p: 1rem;
  --base-espaco-m: 3rem;
  --base-espaco-g: 5rem;
  --base-espaco-lateral: 5vw;
  --cor-verde: #57D8BA;
  --cor-rosa: #CC36C1;
  --cor-roxo: #483197;
  --cor-creme: #FFFAF2;
}

@media screen and (min-width: 80rem) {
  :root {
    --base-espaco-lateral: 10vw;
  }
}

@media screen and (min-width: 90rem) {
  :root {
    --base-espaco-lateral: 10vw;
  }
}

@media screen and (min-width: 100rem) {
  :root {
    --base-espaco-lateral: 18vw;
  }
}

/* Geral
--------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  background-color: var(--cor-creme);
  color: var(--cor-roxo);
}

a, a:visited {
  color: var(--cor-verde);
}

a:hover, a:focus {
  opacity: 0.7;
  transition: opacity ease-in-out;
}

h1, h2, h3, h4 {
  margin: var(--base-espaco-p) 0;
  color: var(--cor-rosa);
}

h1, .txt-g {
  margin-top: 0;
  font-size: var(--base-font-size-g);
  font-family: var(--base-font-strong);
  text-transform: uppercase;
}

h2, .txt-m {
  font-size: var(--base-font-size-m);
  font-family: var(--base-font-strong);
  text-transform: uppercase;
}

p {
  margin: var(--base-espaco-p) 0;
  line-height: var(--base-line-height);
}

li {
  line-height: var(--base-line-height);
}

*:last-child {
  margin-bottom: 0;
}

.botao-simples {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid;
  font-size: var(--base-font-size-m);
  font-family: var(--base-font-strong);
}

strong, b {
  font-family: var(--base-font-strong);
}

canvas {
  display: block;
}

/* Leiaute geral
--------------------------------------*/

body, html, .pagina {
  height: 100%;
}

.conteudo {
  padding: var(--base-espaco-m);
  padding-right: var(--base-espaco-lateral);
}

.cabecalho,
.home-banner {
  padding: var(--base-espaco-m);
  padding-left: var(--base-espaco-m);
}

.cabecalho {
  padding-top: 0;
  padding-bottom: 0;
}


@media screen and (min-width: 60rem) {
  
  body {
    overflow-y: hidden;
  }
  
  .pagina {
    display: flex;
  }

  .cabecalho {
    width: 40%;
  }

  .conteudo {
    width: calc(100% - 40%);
    overflow-y: scroll;
    padding-top: var(--base-espaco-p);
  }

  .home-banner {
    width: 40%;
  }

  .cabecalho,
  .home-banner {
    padding-left: var(--base-espaco-lateral);
  }
}


/* Cabecalho
--------------------------------------*/

.cabecalho {
  background-color: var(--cor-verde);
  position: relative;
}

.assinatura-normal {
  display: none;
}

.assinatura-reduzida {
  height: calc( 0.8 * var(--base-espaco-g));
  line-height: calc( 0.8 * var(--base-espaco-g));
}

.assinatura-reduzida a {
  text-decoration: none;
}

.assinatura-normal a {
  text-decoration: none;
}

.data {
  font-size: var(--base-font-size-g);
  font-family: var(--base-font-strong);
  text-transform: uppercase;
  color: var(--cor-rosa);
}

.botao-menu {
  border: 0;
  background-color: var(--cor-roxo);
  height: calc( 0.8 * var(--base-espaco-g));
  width: calc( 0.8 * var(--base-espaco-g));
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  fill: var(--cor-rosa);
  transition: all ease-in-out .2s;
}

.botao-menu:hover,
.botao-menu:focus {
  fill: var(--cor-verde);
  text-align: center;
}

.botao-menu .fechar {
  display: none;
}

.menu-aberto .botao-menu .fechar {
  display: inline;
}

.menu-aberto .botao-menu .abrir {
  display: none;
}
.cabecalho-conteudo {
  background-color: var(--cor-verde);
  position: absolute;
  left: 0;
  top: calc( 0.8 * var(--base-espaco-g));
  transform: translateX(-100%);
  padding: var(--base-espaco-m);
  transition: transform .2s ease-in-out;
}

.menu-aberto .cabecalho-conteudo {
  transform: translateX(0);
}

.menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu ul li {
  margin-bottom: var(--base-espaco-p);
}

.menu ul li:last-child {
  margin-bottom: 0;
}

.menu ul li .botao-simples {
  color: var(--cor-roxo);
  line-height: 1.5em;
}

@media screen and (min-width: 60rem) {

  .cabecalho-conteudo {
    position: static;
    transform: none;
    padding: var(--base-espaco-m) 0 calc(0.6 * var(--base-espaco-m)) 0
  }

  .assinatura-normal {
    display: block;
    position: relative;
  }

  .assinatura-reduzida,
  .cabecalho .botao-menu {
    display: none;
  }

  .assinatura-normal span:nth-child(1) {
    position: absolute;
    top: -2.0rem;
    left: -3.0rem;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);
  }

  .assinatura-normal span:nth-child(2) {
    position: absolute;
    top: -2.4rem;
    left: -0.7rem;
  }

  .assinatura-normal span:nth-child(3) {
    position: absolute;
    top: 8.9rem;
    right: 0;
    transform-origin: bottom right;
    transform: rotate(90deg);
  }

}

/* Home
--------------------------------------*/

.home-banner {
  background-color: #483197;
  color: var(--cor-creme);
}

.canvas-container {
  min-height: 400px;
  overflow: hidden;
}

@media screen and (min-width: 60rem) {
  .home .pagina {
    overflow-y: scroll;
    display: block;
  }

  .home .canvas-container {
    position: fixed;
    z-index: -1;
    right: 0;
    top: 0;
  }
}

#background-video {
  display: block;
  width: 100vw;
}

@media screen and (min-width: 60rem) {
  #background-video {
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}


/* Paginas
--------------------------------------*/

.pagina header {
  margin-bottom: var(--base-espaco-m);
}


/* Rodapé
--------------------------------------*/

.rodape {
  padding-top: var(--base-espaco-p);
  margin-top: var(--base-espaco-g);
  border-top: 4px solid var(--cor-rosa);
}