<div class="cabecalho">
  <button class="btn-fechar">fechar</button>
  <div class="cabecalho-conteudo">
    <div class="assinatura">
      <a href="{{ .Site.BaseURL }}">
      <h1>
        <span>Processing</span>
        <span>Community Day</span>
        <span>Brasil 2022</span>
      </h1>
    </a>
    </div>
    <button class="btn-abrir">abrir</button>
    <div class="menu">
      <ul>
        <li><a href="{{ .Site.BaseURL }}/sobre">Sobre o evento</a></li>
        <li><a href="{{ .Site.BaseURL }}/comunidade">Comunidade</a></li>
        <li><a href="{{ .Site.BaseURL }}/codigo-conduta">Código de conduta</a></li>
      </ul>
    </div>
    <div class="mini-sobre">
      <p>O Processing Community Day é um evento realizado no mundo todo com o objetivo de promover a interação e celebrar a diversidade de pessoas e tecnologias no universo das artes computacionais.</p>
    </div>
    <div class="data">
      11 a 13 de Novembro
    </div>
  </div>
</div>